@using Logbook.Core
@using Logbook.Core.DTO
@using Microsoft.Owin.Security.Infrastructure
@model LogbookUI.Models.AddLogbookEntryViewModel
@{
    ViewBag.Title = "New Logbook Entry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Logbook</h2>

@using (Html.BeginForm("AddLogbookEntry", "Logbook", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.LogbookId)
    <h4>Add a Logbook entry</h4>
    <hr/>

    <div class="form-group">
        @Html.LabelFor(m => m.ActivityId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ActivityId, new SelectList(Model.Activities, "ActivityId", "Name"), "Choose... ")
        </div>
    </div>
    <div class="form-group date">
        @Html.LabelFor(m => m.EntryDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.EntryDate, new { @class = "form-control", placeholder = "Date of Log Entry..." })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Notes, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Notes)
        </div>
    </div>
    <table class="table-grid">
        @for (int i = 0; i < Model.LogbookEntryFields.Count(); i++)
        {
            var fieldName = Model.LogbookEntryFields[i].Name;
            <tr>
                <td><b>@fieldName</b></td>
                <td><table class="table-grid">
                    @{
                        int rowCount = 0;
                        for (int j = 0; j < Model.LogbookEntryFields[i].ActivityFieldOptionMappings.Count(); j++)
                        {
                            if (!string.IsNullOrEmpty(Model.LogbookEntryFields[i].ActivityFieldOptionMappings[j].OptionText))
                            {
                                @Html.HiddenFor(m => m.LogbookEntryFields[i].ActivityFieldOptionMappings[j].FieldOptionId);
                                if (rowCount % 2 == 0)
                                {
                                    @Html.Raw("<tr><td />");
                                }
                                @Html.Raw("<td>");
                                @Html.CheckBoxFor(m => m.LogbookEntryFields[i].ActivityFieldOptionMappings[j].Selected, new { Style = "margin-right: 10px; vertical-align:top"});
                                @Html.Label(Model.LogbookEntryFields[i].ActivityFieldOptionMappings[j].OptionText ?? string.Empty, new { Style = "vertical-align:top" });
                                @Html.Raw("</td></div>");
                                if (rowCount % 2 == 1)
                                {
                                    @Html.Raw("</tr>");
                                }
                                rowCount++;
                            }
                        }
                    }
                </table></td>
            </tr>
        }
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Create" />
        </div>
    </div>

    <script type="text/javascript">
    $(function () { // will trigger when the document is ready
       $('.datepicker').datepicker(); //Initialise any date pickers
    });
    </script>
}
