@using Logbook.Core
@using Logbook.Core.DTO
@model LogbookUI.Models.LogbookViewModel
@{
    ViewBag.Title = "Logbook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name (@Model.Activity)</h2>
<div style="float:left">@Model.Entries.Count() @(Model.Entries.Count() == 1 ? "entry" : "entries"), last updated @Model.LastUpdated.ToString("dd/MM/yyyy")</div>
<div style="float:right">@Html.ActionLink(linkText: "Add Entry", actionName: "AddLogbookEntry", controllerName: "Logbook", routeValues: new { logbookId = Model.LogbookId }, htmlAttributes:null)</div>
<br /><hr />
@if (Model.Entries.Count() > 0)
{
    <table>
        <tr class="table-header">
            <td>Activity</td>
            <td>Date</td>
            <td>Notes</td>
        </tr>
        @foreach (LogbookEntryDTO entry in Model.Entries.OrderByDescending(e => e.EntryDate).ThenByDescending(e => e.CreateDate))
        {
            <tr>
                <td><a href="\logbookentry\@entry.LogbookEntryId">@DataAccess.GetActivity(entry.ActivityId).Name</a></td>
                <td>@entry.EntryDate.ToString("dd/MM/yyyy")</td>
                <td>@entry.Notes</td>
            </tr>
        }
    </table>
}