@using Logbook.Core
@using Logbook.Core.DTO
@model LogbookUI.Models.EditFieldViewModel
@{
    ViewBag.Title = "Edit Field";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @Model.Name</h2>

@using (Html.BeginForm("EditField", "Settings", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("FieldId", Model.FieldId, new { @id = "FieldId" })

    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Name, new { @class = "col-md-12 control-label" })
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.IsRequired, new { @class = "col-md-12 control-label" })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.IsRequired)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.AllowFreeText, new { @class = "col-md-12 control-label" })
            </td>
            <td>
               @Html.CheckBoxFor(model => model.AllowFreeText)
            </td>
        </tr>
        <tr>
            <td>
               @Html.LabelFor(m => m.IsMultiSelect, new { @class = "col-md-12 control-label" })
            </td>
            <td>
                @Html.CheckBoxFor(model => model.IsMultiSelect)
            </td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
            <button class="btn btn-default" onclick="location.href='@Url.Action("EditActivity", "Settings", new { activityId = DataAccess.GetField(Model.FieldId).ActivityId })';return false;">Cancel</button>
        </div>
    </div>

    <h3>Selectable Fields for @Model.Name</h3>
    <table class="table-grid">
        <tr class="table-header">
            <td>Name</td>
        </tr>
        @foreach (FieldOptionDTO option in Model.FieldOptions.OrderBy(o => o.SortOrder))
        {
            <tr>
                <td><a href="\Settings\EditFieldOption\@option.FieldOptionId">@option.Text</a></td>
            </tr>
        }
        <tr>
            <td>@Html.TextBox("NewOptionName")</td>
            <td>
                <a id="btnAddField" style="cursor: pointer;">Add</a>
            </td>
        </tr>
    </table>

}
<script src="/scripts/jquery-1.9.1.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document)
        .ready(function() {
            $('#btnAddField')
                .click(function() {
                    var name = $('#NewOptionName').val();
                    var fieldId = $('#FieldId').val();

                    $.ajax({
                        url: '/Settings/AddFieldOption/',
                        data: { 'optionName': name, 'fieldId': fieldId },
                        type: "post",
                        success: function() {
                            window.location.reload();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                        }
                    });
                });
        });
</script>
