@using Logbook.Core
@using Logbook.Core.DTO
@model LogbookUI.Models.EditActivityViewModel
@{
    ViewBag.Title = "Edit Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit @Model.Name</h2>

@using (Html.BeginForm("EditActivity", "Settings", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ActivityId", Model.ActivityId, new { @id="ActivityId"})

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Name)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Update" />
            <button class="btn btn-default" onclick="location.href='@Url.Action("Settings", "Settings")';return false;">Cancel</button>
        </div>
    </div>

    <h3>Additional Fields for @Model.Name</h3>
    <table class="table-grid">
        <tr class="table-header">
            <td>Name</td>
            <td>Required Field</td>
            <td>Allow Free-Type Values</td>
            <td>Allow Multiple Selections</td>
        </tr>
        @foreach (FieldDTO field in Model.Fields.OrderBy(f => f.Name))
        {
            var fid = field.FieldId;
            <tr id="@fid">
                <td><a href="\Settings\EditField\@field.FieldId">@field.Name</a></td>
                <td>@(field.IsRequired ? "Yes" : "No")</td>
                <td>@(field.AllowFreeText ? "Yes" : "No")</td>
                <td>@(field.IsMultiSelect ? "Yes" : "No")</td>
                <td>
                    @Ajax.ActionLink("Remove", "RemoveField", new { id = field.FieldId }, new AjaxOptions()
                   {
                       Confirm = "Are you sure you wish to permanently remove this field?",
                       HttpMethod = "Delete",
                       OnSuccess = "$('#" + @fid + "').remove(); "
                   })
                </td>
            </tr>
        }
        <tr>
            <td>@Html.TextBox("NewFieldName")</td>
            <td>
                <a id="btnAddField" style="cursor: pointer;">Add</a>
            </td>
        </tr>
    </table>

}
<script src="/scripts/jquery-1.9.1.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document)
        .ready(function() {
            $('#btnAddField')
                .click(function() {
                    var name = $('#NewFieldName').val();
                    var activityId = $('#ActivityId').val();

                    $.ajax({
                        url: '/Settings/AddField/',
                        data: { 'fieldName': name, 'activityId': activityId },
                        type: "post",
                        success: function() {
                            window.location.reload();
                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                        }
                    });
                });
        });
</script>
